html, body{
    background-image: linear-gradient(to top right, red, lightgrey);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
h1{
    text-align: center;
    text-shadow: 2px 2px whitesmoke;

}
h3, div > b{
    text-decoration: underline;
    text-shadow: 2px 1px gray;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.images-container{
display: grid;
grid-template-columns: auto auto auto;
gap: 10px;
justify-content: center;
align-items: center;
}
.images-container > div{
    width: 120px;
    height: 120px;

}
img{
    height: 100%;
    width: 100%;
}
a:hover{
    color: aqua;
    background-color: black;
    box-shadow: 2px 2px bisque;
    border-radius: 10px;
}
